body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
	background: url(../img/bjtp.png);
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}

/*top*/
#toppart{
	width: 100%;
	height: 33px;
	background-color: white;
}
#navtop{
	width: 1200px;
	height: 33px;
	margin: 0 auto;
}
#nt-1{
	width: 327px;
	height: 25px;
	float: left;
	margin-top: 4px;
}
#nt-1 a{
	font-size: 12px;
	text-align: center;
	color: #333333;
	display: block;
	margin-right: 5px;
	float: left;
}
#nt-1 a:nth-child(5) img{
	width:20px ;
	height: 20px;
}
#nt-2{
	width: 300px;
	height: 33px;
	float: right;
}

#nt-2 ul{
	width: 300px;
	height: 33px;
	margin-left: 5px;
}

#nt-2 ul li{
	float: left;
	font-size: 12px;
	text-align: center;
	width: 52px;
	height: 25px;
	margin: 0 4px;
	margin-top: 4px;
	
	a {
		color: #B2A5AD;
	}
}
#nt-2 ul li:nth-child(3){
	width: 141px;
}


/*header*/
header{
	width: 100%;
	height:100px;
	background-color: white;
}
#head{
	width: 1200px;
	height:100px;
	margin: 0 auto;
}
#hd-1{
	width: 400px;
	height: 100px;
	float: left;
}
#hd-2{
	width: 660px;
	height: 100px;
	float: right;
}

#hd-2 input:nth-child(1){
	width: 240px;
	height: 25px;
	float: left;
	margin-top: 40px;
	border: 2px solid #F00582;
	outline: none;
}
#hd-2 input:nth-child(2){
	width: 80px;
	height: 30px;
	float: left;
	margin-top: 40px;
	background-color:#F00582;
	border: none;
	outline: none;
}

#hd-2 ul li{
	float: right;
	width: 60px;
	height: 70px;
	background: url(../img/baozhang.png) no-repeat;
	margin: 0 10px;
	margin-top: 10px;
}
#hd-2 ul li:nth-of-type(1){
	background-position-y: -153px;
}
#hd-2 ul li:nth-of-type(2){
	background-position-y: -78px;
}


/*topnav*/
#topnav{
	width: 100%;
	height: 38px;
	background-color:  #F00582;
	#nav{
		width: 1146px;
		height: 22px;
		margin: 0 auto;
		padding: 8px 27px;
		a{
			display: block;
			float: left;
			width: 156px;
			height: 22px;
			text-align: center;
			color: white;
		}
		a:nth-of-type(1){
			width: 180px;
		}
	}
}

/*nav-2*/
#banner{
	width: 100%;
	height: 300px;
	#nav-2{
		width: 1200px;
		height: 300px;
		margin: 0 auto;
		#navlist{
			width: 180px;
			height: 300px;
			float: left;
			background-color: #FBEAF4;
			ul li{
				width: 120px;
				height: 37px;
				padding-left: 60px;
				position:relative;
				span{
					display: block;
					width: 16px;
					height: 18px;
					background:url(../img/timg.png);
					position: absolute;
					top: 10px;
					left: 40px;
					background-position-x: -153px;
					background-position-y: -153px;
				}
				a{
					line-height: 37px;
					font-size: 14px;
					color: #333333;
				}
			}
		}
		
		#rotation{
			height: 300px;
			width: 720px;
			float: left;
			.m-show2{
				height: 300px;
				width: 720px;
			}
		}
		
		#rightimg{
			float: left;
			background:url(../img/t123.jpg) no-repeat;
			width: 300px;
			height: 300px;
			position: relative;
			#zzc{
				display: block;
				width: 300px;
				height: 143px;
				position: absolute;
				left: 0px;
				top:157px;
			}
			
			#fxlist{
				position: absolute;
				top: 110px;
				left: 80px;
			}
	}
}
}


/*content*/
#content{
	width: 100%;
	padding-bottom: 58px;
	#text{
		width: 1200px;
		height: 45px;
		background-color: #FDFCE7;
		margin: 15px auto;
		font-size: 14px;
		line-height: 45px;
	}
	#text2{
		width: 1200px;
		height: 50px;
		margin: 0 auto;
		p{
			font-size: 14px;
		}
		h1{
			float: left;
			color: #585B6A;
		}
		span{
			float: left;
			color: #fbacc2;
			font-size: 16px;
			line-height: 30px;
		}
		span:nth-of-type(3){
			float: right;
		}
	}
	#goodslist{
		width: 100%;
		overflow: hidden;
		#goods{
			width: 1200px;
			margin: 0 auto;
			div{
				width: 582px;
				height: 270px;
				background-color: pink;
				float: left;
				margin-bottom: 20px;
				border: 1px solid #eee;
			}
			div:nth-of-type(2n){
				float: right;
			}
			div:hover{
				border: 1px solid red;
			}
		}
	}
	
	#text3{
		width: 1200px;
		height: 50px;
		margin: 0 auto;
		h1{
			float: left;
			color: #585B6A;
		}
		span:nth-of-type(1){
			float: left;
			font-size: 16px;
			color: white;
			background-color: #5DCAC5;
			display: block;
			width: 60px;
			height: 20px;
			border-radius: 10px;
			text-align: center;
			margin: 10px;
		}
		span:nth-of-type(2){
			float: right;
			font-size: 16px;
		}
	}
	
	#cat-list{
		width: 1200px;
		height: 50px;
		margin: 0 auto;
		background-color: #F9F9F9;
		ul{
			background-color: white;
			width: 1038px;
			height: 30px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 30px;
			line-height: 30px;
			li{
				float: left;
				margin-right: 17px;
			}
		} 
		
	}
	
	#abc{
		width: 1200px;
		height: 38px;
		margin: 0 auto;
		background-color: #F9F9F9;
		a{
			float: left;
			height: 36px;
			line-height: 38px;
			border: #eee 1px solid;
			padding: 0 20px;
		}
		a:nth-of-type(1){
			border-top:red 1px solid;
			color: red;
		}
		a:hover{
			border-top:red 1px solid;
			color: red;
		}
	}
	#goodslist2{
		width: 1200px;
		margin: 0 auto;
		overflow: hidden;
		div{
			width: 284px;
			height: 400px;
			background-color: pink;
			float: left;
			margin-right: 18px;
			border: 1px solid #eee;
			margin-bottom: 20px;
			background: #fff;
		}
		div:nth-of-type(4n){
			margin-right: 0;
		}
		div:hover{
			border: 1px solid red;
		}
	}
	
	#page{
		
		text-align: center;
		margin: 0 auto;
		display: table;
		a{
			display: block;
			font-size: 14px;
			line-height: 14px;
			padding: 10px 14px;
			color: #333;
			float: left;
			text-decoration: none;
			margin: 0 2px;
		}
		a:hover{
			background: #ff3366;
			color: #fff;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
		}
	}
}

/*footer*/
footer{
	width: 100%;
	background-color: black;
	padding-bottom: 20px;
	#footer1{
		width: 1200px;
		margin: 0 auto;
		position: relative;
		img{
			margin-top: 50px;
			margin-left: 290px;
		}
		#fttext{
			width: 210px;
			position: absolute;
			top: 67px;
			left: 990px;
			color: #FFFFFF;
			font-size: 18px;
		}
		#fttext2{
			color: #a2a2a2;
			font-size: 16px;
			margin-top: 33px;
		}
	}
}